{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Álbums{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table> 
  <tr>
    <th><b>Titulo</b></th>
    <th><b>Autor</b></th>
    <th><b>Ano</b></th>
    <th><b>Formato</b></th>
    <th><b>Género</b></th>
   </tr>
   
  {% for album in albums %}
    <tr>
      <td><a href="/albums/{{ album.IdDisc }}">{{album.Titulo }}</a></td>
      <td>{{ album.Nome }}</td>
      <td>{{ album.AnoLançamento }}</td>
      <td>{{ album.Formato }}</td>
      <td>{{ album.Gen }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
