{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Funcionário{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table> 
  <tr>
    <th><b>ID</b></th>
    <th><b>Nome</b></th>
    <th><b>Idade</b></th>
    <th><b>Cidade</b></th>
   </tr>
   
  {% for func in funcionarios %}
    <tr>
      <td><a href="/funcionario/{{ func.ID }}">{{ func.ID }}</a></td>
      <td>{{ func.Nome }}</td>
      <td>{{ func.Idade }}</td>
      <td>{{ func.Cidade }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
